name: pre-commit

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: uv sync --extra dev
      - uses: pre-commit/action@v3.0.1
